.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }

  .Post figure,
  h5 {
    margin: 0 0;
  }

  .HeartOutline:hover {
    color: #f85032;
  }

  .Heart {
    color:#f85032;
  }

  .Heart:hover {
    color: #2142b2;
  }

  .Reactions {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .Reaction {
    color: #cfced3;
    transition: color 0.2s ease;
  }

  .Reaction.heart:hover i {
    color: #f85032;
  }

  .Reaction.thumbs_up:hover i {
    color: #ffd700;
  }

  .Reaction.laugh:hover i {
    color: #ffd700;
  }

  .Reaction.sad:hover i {
    color: #5137fc;
  }

  .Reaction.angry:hover i {
    color: #eb2929;
  }

  .ActiveReaction.heart i {
    color: #f85032;
  }

  .ActiveReaction.thumbs_up i {
    color: #ffd700;
  }

  .ActiveReaction.laugh i {
    color: #ffd700;
  }

  .ActiveReaction.sad i {
    color: #5137fc;
  }

  .ActiveReaction.angry i {
    color: #eb2929;
  }

