.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }

  .Post figure,
  h5 {
    margin: 0 0;
  }

  .HeartOutline:hover {
    color: #f85032;
  }

  .Heart {
    color:#f85032;
    opacity: 1;
  }

  .Heart:hover {
    color: #2142b2;
  }

  .Reaction i {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .Reactions {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
  }


  .Reactions:hover .Reaction i {
    opacity: 1;
  }

  .Reactions:hover  {
   transform: translateY(-5px);
  }

 .ActiveReaction i {
    opacity: 1;
    color: #f85032;
  }