.Container {
    min-height: 343px;
  }

.MentionsInput {
  font-size: 16px;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  color: #00796b;
}

.HighlightedHashtag {
  font-weight: bold;
  background-color: #e0f7fa;
}

[class*="__suggestions__list"] {
  width: fit-content;
  transform: translateX(15px);
}