.Container {
    min-height: 343px;
  }

 .MentionsInput {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: blue;
}

[class*="__suggestions__list"] {
  width: fit-content;
  transform: translateX(15px);
  color: blue;
}

[class*="__suggestions__item--focused"] {
  background-color: #ffebc2;
}

[class*="__input"] {
  padding: 8px;
  color: inherit;
  resize: none;
}

[class*="__highlighter"] strong {
  padding: 2p 4px;
  color: #007bff;
  background-color: #e0f7fa;
  border-radius: 4px;
  font-weight: bold;
}